In [ ]:
import pandas as pd

# **Data Frame**

In [ ]:
#공식문서(도움말)활용
#pd.DataFrame?
#pd.DataFrame(shift+tab+tab)

df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## **Series**

In [ ]:
df["a"]
#"a"칼럼에 있는 4,5,6이 나옴
# Series 형태
# 1차원 구조

1    4
2    5
3    6
Name: a, dtype: int64

In [ ]:
df[['a']]
# 대괄호를 하나 더 사용-> 데이터프레임 형태
# 2차원 구조

   a
1  4
2  5
3  6

### **Subset** (일부값불러오기)

In [ ]:
df[df["a"] > 4]
# "a"에서 4이상만 가져오고 싶음.

In [ ]:
df[["a","b"]]
#두개 이상 불러오려면 데이터프레임 형태로 가져오기

   a  b
1  4  7
2  5  8
3  6  9

### **Summarize Data** (값의 빈도수 구하기)

In [ ]:
df["a"].value_counts()

4    1
5    1
6    1
Name: a, dtype: int64

### **Reshaping** (sort_values, drop)

In [ ]:
# "a"컬럼을 기준으로 정렬
df["a"].sort_values()

1    4
2    5
3    6
Name: a, dtype: int64

In [ ]:
# DataFrame 전체에서 "a"값을 기준으로 정렬하기
df.sort_values("a")

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [ ]:
# 역순으로 정렬하기
df.sort_values("a", ascending=False)

   a  b   c
3  6  9  12
2  5  8  11
1  4  7  10

In [ ]:
# "c"컬럼 drop 하기
df = df.drop(["c"], axis=1)
df

   a  b
1  4  7
2  5  8
3  6  9

### **Olympics 데이터 활용**

In [19]:
## 이미 있는 .xlsx 파일 지우기.
!rm *.xlsx

## 파일 업로드, 여러개 선택 가능. 
from google.colab import files
uploaded = files.upload()

rm: cannot remove '*.xlsx': No such file or directory

Saving 2_olympics-1.csv to 2_olympics-1.csv

In [24]:
df=pd.read_csv("2_olympics-1.csv")
df
#올림픽 데이터 다운받을 때 엑셀에서 csv로 바뀌면서 항목이름들이 깨진듯합니다.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [25]:
df.head()
#상위 5개 확인

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [26]:
df.tail()
#하위 5개 데이터 추출

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [27]:
df.isnull()
#결측값

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
144,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
147,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,147,148,148,148,148,148,148,148,148,148,148,148,148,148,148,148
unique,147,28,55,55,57,76,22,26,25,28,35,45,56,55,64,75
top,Afghanistan (AFG),5,0,1,0,1,0,0,0,0,0,11,0,1,0,1
freq,1,17,47,27,23,26,45,109,104,105,101,17,46,26,22,26

In [29]:
df.value_counts()
#개수파악

0                     1   2  3  4  5   6  7  8  9  10  11  12  13  14  15
Afghanistan (AFG)     13  0  0  2  2   0  0  0  0  0   13  0   0   2   2     1
Singapore (SIN)       15  0  2  2  4   0  0  0  0  0   15  0   2   2   4     1
Pakistan (PAK)        16  3  3  4  10  2  0  0  0  0   18  3   3   4   10    1
Panama (PAN)          16  1  0  2  3   0  0  0  0  0   16  1   0   2   3     1
Paraguay (PAR)        11  0  1  0  1   1  0  0  0  0   12  0   1   0   1     1
                                                                            ..
Grenada (GRN)         8   1  0  0  1   0  0  0  0  0   8   1   0   0   1     1
Guatemala (GUA)       13  0  1  0  1   1  0  0  0  0   14  0   1   0   1     1
Guyana (GUY) [GUY]    16  0  0  1  1   0  0  0  0  0   16  0   0   1   1     1
Haiti (HAI) [J]       14  0  1  1  2   0  0  0  0  0   14  0   1   1   2     1
Zimbabwe (ZIM) [ZIM]  12  3  4  1  8   1  0  0  0  0   13  3   4   1   8     1
Length: 147, dtype: int64